main .big-room:hover {
    background-color: $big-room-color;
}    
    // -------------RED BIG ROOM--------------
main .big-room {
    @include flex(column, space-around, center, nowrap);
    @include margin(1px, 1rem, 1rem);
    @include size(201px, 104px);
    // @include hover($big-room-color);
    cursor: pointer;
    background-color: $defult-color;
    box-shadow: $box-shadow2;
    
    // -------------YELLOW CATED--------------
    .big-room-cated-wrap {
        @include flex(row, space-around, center);
        @include margin(1px, 0, 0);
        width: 100%;
    }
    .big-room-cated {
        @include size(41px, 21px);
        background-color: $big-room-cated-color;
        box-shadow: $box-shadow3
    }

    // ------------LIGHTBLUE TABLES------------
    .big-room-table-wrap {
        @include flex(row, space-around, center);
        @include margin(1px, 0, 0);
        width:80%;
    }
    .big-room-table {
        @include size(21px, 21px);
        background-color: $big-room-table-color;
        box-shadow: $box-shadow3
    }

}