body main {
    @include flex(column, space-around, center, nowrap);
    @include size(687px, 421px);
    @include margin(1px, 0, 0);
    background-color: $main-color;
    box-shadow: $box-shadow;

    .small-room-wrap {
        @include flex(row, space-around, center, nowrap);
        margin-top: 2rem;
    }

    .medium-room-wrap {
        @include flex(row, space-around, center, nowrap);
    }

    .big-room-wrap {
        @include flex(row, space-around, center, nowrap);
        margin-bottom: 2rem;
    }

}