@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex($direction, $justify, $align, $wrap:nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin margin ($margin, $margin-left, $margin-right) {
    margin: $margin;
    margin-left: $margin-left;
    margin-right: $margin-right;
}

// @mixin hover ($hover-color) {
//     cursor: pointer;

//     main { 
//         .small-room:hover, .medium-room:hover, .big-room:hover { 
//             background-color: $hover-color; 
//         } 
//     } 
    
// }